// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
$fa-font-path: "../webfonts";

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.navbar-style-two .huruma-nav .navbar .navbar-nav .nav-item a:hover,
.navbar-style-two .huruma-nav .navbar .navbar-nav .nav-item a:focus,
.navbar-style-two
    .huruma-nav
    .navbar
    .navbar-nav
    .nav-item
    .router-link-exact-active {
    color: #ff6015;
    position: relative;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.stats_card {
    background-color: #fff;
    padding: 45px 20px;
    text-align: center;
    border-radius: 10px;
}
.stats_card > .header {
    font-weight: 700;
    font-size: 26px;
}

.stats_card > .title {
    font-size: 16px;
    font-weight: 600;
}
textarea#message {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
.contact-info-content {
    text-align: center;
}
ul.social {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 20px;
}
ul.social li {
    display: inline-block;
    margin: 0 1px;
    padding-left: 0;
}
ul.social li a {
    width: 35px;
    height: 35px;
    line-height: 34px;
    border: 1px solid #dadada;
    border-radius: 50%;
    color: #aba5a5;
    display: block;
}
.team-item .content {
    background-color: #ffffff;
    -webkit-box-shadow: 1px 20px 30px rgba(0, 0, 0, 0.07);
    box-shadow: 1px 20px 30px rgba(0, 0, 0, 0.07);
    padding: 11px;
}
img.img-fluid.team-image {
    border-radius: 56%;
    width: 200px;
    height: 200px;
}
p.team-p {
    color: #333;
    text-align: justify;
    font-weight: 600;
    margin-top: 16px;
    padding: 10px;
}
